
.login {
    width: 500px;
    margin: 0 auto;
}

img {
    object-fit: cover;
    height: 50px;
    width: 50px;
}

#h1-msg{
    text-align: center;
}

.impIcon {
    color: red;
}

.floatRightBtn{
    float: right;
}

.newMsg{
    float: right;
    color:black;
    margin-bottom: 5px;
}

