<navbar-apt-mng></navbar-apt-mng>
<h1 id="h1-msg">messages</h1>


<div class="container">
  <form class="my-3">
    <div class="form-inline">
      <div class="form-group ml-3">

        <label for="inp1">Filter by text:&nbsp</label>
        <input type="text" class="form-control" placeholder="Filter by text in message" ng-model="searchText">
      </div>
      <div class="form-group ml-5">
        <label for="sel1">Filter by Priority:&nbsp</label>
        <select class="form-control" id="selP1" name="selP1" ng-model="selP1">
          <option>none</option>
          <option value='important'>Important</option>
          <option value='info'>Info</option>
        </select>
      </div>
      <div class="form-group ml-5">
        <label for="inp1">Sort by:&nbsp</label>
        <input type="radio" ng-model="rdVar" value="date">Date
        <input type="radio" ng-model="rdVar" value="priority">Priority
      </div>

    </div>




    <div class="form-group" ng-show="isThisUserCM()">
      <a href="text" data-toggle="modal" data-target="#myModal">
        new message
      </a>
    </div>




    <!-- <form action="/action_page.php"> -->
    <div class="form-group">
      <!-- <br> -->
    </div>
  </form>


  <table class="table table-hover">
    <thead>
      <tr>
        <!-- <th ></th>  -->

      </tr>

    </thead>
    <tbody>
      <tr ng-repeat="message in messages">
        <td>
          <p>
            <i class="fas fa-exclamation-circle impIcon mr-4" ng-show="message.priority == 'Important'"></i>
            <i class="fas fa-info-circle mr-4" ng-show="message.priority == 'Info'"></i>
            {{message.date}} <span><b>Title:&nbsp</b></span>{{message.title}}
          </p>
          <!-- <p><i class="fas fa-info-circle mr-4"></i>message id: {{message.id}}</p> -->
          <p><span><b>Message:&nbsp</b></span>{{message.description}}</p>
          <!-- <p> {{message.priority}}p</p> -->
          <p><span><b>Comment:&nbsp</b></span>{{message.comments}}c</p>
          <!-- <p>userId: {{message.userId}}</p> -->
          <p><img class="card-img-top" ng-src="{{message.imgUrl}}" alt=""></p>
        </td>
        <!-- <td> <input class="mr-3" type="checkbox" ng-model="todoItem.chbValue" ng-click="cntActive($index)">{{todoItem.todo}}</td> -->
      </tr>
    </tbody>
  </table>




  <!-- <div class="row">
    <div class="col-sm-6 col-md-4 my-2" ng-repeat="message in messages">
        <div class="card message">
            <img class="card-img-top" ng-src="{{message.imgUrl}}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{message.title}}</h4>
                <p class="card-text">{{message.description}}</p>
            </div>
        </div>
    </div> -->
</div>





<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Message</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <!-- Begin of Modal body -->
        <div class="container mt-5">
          <form>
            <div class="form-group row">
              <label for="tile" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="title" ng-model="title">
              </div>
            </div>
            <div class="form-group row">
              <label for="details" class="col-sm-2 col-form-label">Details</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="details" ng-model="details">
              </div>
            </div>
            <div class="form-group row">
              <label for="priority" class="col-sm-2 col-form-label">Priority</label>
              <div class="col-sm-10">
                <select class="form-control" id="priority" name="priority" ng-model="priority">
                  <option>none</option>
                  <option value='important'>Important</option>
                  <option value='info'>Info</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="image" class="col-sm-2 col-form-label">Image</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="image" ng-model="image" />
              </div>
            </div>
            <!-- <div class="form-group row">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-block btn-lg btn-primary" ng-click="createRecipe()">Create
                    Recipe</button>
                </div>
              </div> -->
          </form>
        </div> <!-- End of Modal body -->

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal">Save</button>
          <button type="button" class="btn " data-dismiss="modal">Discard</button>
        </div>

      </div>
    </div>
  </div>






  <!-- <p></p>
    <p></p>
    <p></p>
    <div class="card-deck">
      <div class="card " ng-repeat="actor in actors | filter : filterName | orderBy : sellist1 ">
        <div ng-model="cardSel" ng-class="{'imgClassB' : actor === selectedActor}">
          <img class="card-img-top" ng-src={{actor.imgURL}} alt="Card image" style="width:100%" ng-click="cardClick(actor)">
        </div>
        <div class="card-body text-center">
        </div>
        <a href={{actor.imdbURL}} target="_blank">
          <h4 class="card-title">{{actor.fname}} {{actor.lname}}</h4>
        </a>
        <p class="card-text">Birthday: {{actor.birthday}}</p>
        <p></p>
      </div>
    </div>
    <p></p> -->
</div>