<navbar-apt-mng></navbar-apt-mng>
<h1>messages</h1>

<div class="container" ng-controller="messagesCtrl">
  <form class="my-3">
    <div class="form-inline">
      {{test}}
      <div class="form-group ml-3">
        <label for="inp1">Filter by text:&nbsp</label>
        <input type="text" class="form-control" placeholder="Filter by text in message" ng-model="searchText">
      </div>
      <div class="form-group ml-5">
        <label for="sel1">Filter by Priority:&nbsp</label>
        <select class="form-control" id="selP1" name="selP1" ng-model="selP1">
          <option>none</option>
          <option value='important'>Important</option>
          <option value='info'>Info</option>
        </select>
      </div>
      <div class="form-group ml-5">
        <label for="inp1">Sort by:&nbsp</label>
        <input type="radio" ng-model="rdVar" value="date">Date
        <input type="radio" ng-model="rdVar" value="priority">Priority
      </div>

    </div>
    <div class="form-group ml-100">
      <a href="text" class = "ml-100" data-toggle="modal" data-target="#myModal">
        new message
      </a>
    </div>




    <!-- <form action="/action_page.php"> -->
    <div class="form-group">
      <!-- <br> -->
    </div>
  </form>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">New Message</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              Modal body..
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn " data-dismiss="modal">Save</button>
                <button type="button" class="btn " data-dismiss="modal">Discard</button>
            </div>
            
          </div>
        </div>
      </div>
    



  <p></p>
  <p></p>
  <p></p>
  <div class="card-deck">
    <div class="card " ng-repeat="actor in actors | filter : filterName | orderBy : sellist1 ">
      <!-- <a href={{actor.imdbURL}} target="_blank"> -->
      <div ng-model="cardSel" ng-class="{'imgClassB' : actor === selectedActor}">
        <img class="card-img-top" ng-src={{actor.imgURL}} alt="Card image" style="width:100%" ng-click="cardClick(actor)">
      </div>
      <!-- </a> -->
      <div class="card-body text-center">
      </div>
      <a href={{actor.imdbURL}} target="_blank">
        <h4 class="card-title">{{actor.fname}} {{actor.lname}}</h4>
      </a>
      <p class="card-text">Birthday: {{actor.birthday}}</p>
      <p></p>
    </div>
  </div>
  <p></p>
</div>