<navbar-apt-mng></navbar-apt-mng>
<h1 id="h1-msg">tenants</h1>


<div class="container">
    <form class="my-3">
        <!-- <div class="form-inline"> -->
        <div class="form-group ">
            <label for="inp1">Filter by text:&nbsp</label>
            <input type="text" class="form-control" placeholder="Filter by text in list of tenants" ng-model="searchTenText">
        </div>
        <!-- </div> -->



        <div class="form-group" ng-show="isThisUserCM()">
            <a type="button" class="btn newMsg" href="text" data-toggle="modal" data-target="#newTenModal">
                new tenant
            </a>
        </div>




        <!-- <form action="/action_page.php"> -->
        <div class="form-group">
            <!-- <br> -->
        </div>
    </form>


    <table class="table table-hover">
        <thead>
            <tr>
                <!-- <th ></th>  -->

            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="tenant in tenants  ">
                <td>
                    {{tenant.fname}} &nbsp {{tenant.lname}}
                </td>
                <td>
                    {{tenant.email}} 
                </td>
                <td>
                    {{tenant.addr}} 
                </td>
                <td>
                    {{tenant.tel}} 
                </td>
                <td>
                    <p>
                        <div class="floatRightBtn" ng-show="isThisUserCM()">
                            <button type="button" ng-click="updateMsg(message)">Update</button>
                            <!-- <button ng-click="deleteMsg(message)">Delete</button> -->
                            <button type="button" ng-click="openDeleteMessageModal(message)">Delete</button>
                        </div>
                    </p>
                </td>
                <!-- <td> <input class="mr-3" type="checkbox" ng-model="todoItem.chbValue" ng-click="cntActive($index)">{{todoItem.todo}}</td> -->
            </tr>
        </tbody>
    </table>




    <!-- <div class="row">
    <div class="col-sm-6 col-md-4 my-2" ng-repeat="message in messages">
        <div class="card message">
            <img class="card-img-top" ng-src="{{message.imgUrl}}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{message.title}}</h4>
                <p class="card-text">{{message.description}}</p>
            </div>
        </div>
    </div> -->
</div>





<!-- The Modal, New Message-->
<div class="modal" id="newMsgModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">New Message</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <!-- Begin of Modal body -->
                <div class="container mt-5">
                    <form>
                        <div class="form-group row">
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" ng-model="title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="description" ng-model="description">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="priority" class="col-sm-2 col-form-label">Priority</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="priority" name="priority" ng-model="priority">
                                    <!-- <option>none</option> -->
                                    <option value='Important'>Important</option>
                                    <option value='Info'>Info</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="imgUrl" class="col-sm-2 col-form-label">Image</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="imgUrl" ng-model="imgUrl" />
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-block btn-lg btn-primary" ng-click="createRecipe()">Create
                    Recipe</button>
                </div>
              </div> -->
                    </form>
                </div> <!-- End of container -->


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn " data-dismiss="modal" ng-click="saveNewMsg()">Save</button>
                    <button type="button" class="btn " data-dismiss="modal">Discard</button>
                </div>

            </div> <!-- End of Modal body -->
        </div> <!-- modal-content  -->
    </div> <!-- modal-dialog -->
</div> <!--  The Modal, New Message -->


<!-- The Modal, Delete Message-->
<div class="modal" id="delModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Message</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <!-- Begin of Modal body -->
                <div class="container mt-5">
                    <form>
                        <div class="form-group row">
                            <p>Are you sure you want to delete message?</p>
                            <!-- <div class="x"></div> -->
                        </div>
                    </form>
                </div> <!-- End of container -->


                <!-- Modal footer -->
                <div class="modal-footer">
                    <!-- <button type="button" class="btn " data-dismiss="modal" ng-click="delMsg()">Delete</button> -->
                    <button type="button" class="btn " data-dismiss="modal" ng-click="deleteMsg()">Delete</button>
                    <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                </div>

            </div> <!-- End of Modal body -->
        </div> <!-- modal-content  -->
    </div> <!-- modal-dialog -->
</div> <!--  The Modal, Delete the Message -->